
*{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.choice{
    height: 200px;
    width: 200px;
    background-color:aqua;
    color: white;
    margin-top: 5px;
    padding: 2px;
    text-align: center;
    border-radius: 50%;
    
    
}
.choices{
    
    margin: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    
    
}
h1{
    background-color: black;
    color: white;
    padding: 5px;
   /* display: inline;*/
    
}

img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.scoreboard{
    display: flex;
    gap: 3rem;
    font-size: 3rem;
   justify-content: center;
   margin-top: 5rem;
}
#your-score,#computer-score{
    font-size: 5rem;
}
.result{
    margin-top: 2rem;
    
    

   

    
}
.choice:hover{
    cursor: pointer;
    background-color: beige;
}

#tab{
    display:inline;
    background-color: black;
    color:white;
    
    font-size: 2rem;
    padding: 1rem;
    
}

